html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-attachment: fixed;
  background-image: url("../assets/images/body-wallpaper.png");
}

.sub-body {
  width: 90%;
  margin: auto;
  text-align: center;
}

p {
  color: white;
}
