body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-attachment: fixed;
  background-image: url("../assets/images/body-wallpaper.png");
}

.imgDiv {
  width: 100%;
  text-align: center;
}

.sub-body {
  margin: 2% 12% 0% 12%;
}

p {
  color: white;
}

#loading-banner {
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: darkred;
}