.imgDiv {
  width: 100%;
  margin: auto;
}

#loading-banner {
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: darkred;
}

.notes {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.notes h1 {
  font-size: 30px;
  color: white;
  border-top: 2px solid white;  
}

.notes h2 {
  text-align: left;
  color: #ff4646;
  font-weight: bolder;
  font-size: 18px;
}

.notes-info {
  height: 500px;
  text-align: left;
  overflow: auto;
}

.notes-info p {
  font-size: 20px;
}